* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(228deg 4.2% 23.33%);
}

form {
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
}

input {
    display: block;
}